@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
h1,
h2,
h3,
p {
  font-family: "Arimo", sans-serif;
}

body {
  background-color: #362c2c;
  color: white;
  margin: 100px 0 0 0;
}

header {
  height: 65px;
  width: calc(100% - 30px);
  padding: 0 15px;
  padding-right: 15px !important;
  background-color: #362c2c;
  position: fixed;
  z-index: 999;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Arimo", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .menu {
  float: right;
  display: none;
}

header #check,
header #check2 {
  display: none;
}

header ul {
  list-style: none;
  float: right;
}

header ul .mobile_link {
  display: none;
}

header ul .dropdown {
  position: relative;
  display: inline-block;
}

header ul .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1000;
  background-color: #2b2525;
  border-radius: 8px;
}

header ul .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header ul .dropdown:hover .dropdown-content {
  display: block;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 24px;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: yellow;
}

@media (max-width: 1100px) {
  header .menu {
    display: block;
  }
  header ul {
    position: fixed;
    width: calc(100% - 30px);
    height: 100vh;
    background: #2b2525;
    top: 48px;
    display: hidden;
    left: -110%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header ul .desktop_link,
  header ul .dropdown {
    display: none;
  }
  header ul .mobile_link {
    display: block;
  }
  header ul li {
    display: block;
    line-height: 100px;
    position: relative;
    top: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  header #check:checked ~ .platformMenu {
    position: absolute;
    left: 0;
  }
  header #check2:checked ~ .userMenu {
    position: absolute;
    left: 0;
  }
}

header .icon {
  font-size: 2.5em;
  cursor: pointer;
}

header .cart {
  margin-right: 15px;
}

.addlayer {
  display: block;
}

footer {
  height: 97px;
  padding: 0 30px;
  margin-top: 45px;
  background-color: #1c1616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .nav,
footer .policy {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav .line,
footer .policy .line {
  height: 65px;
  width: 1px;
  background-color: #707070;
}

footer .nav .options p,
footer .policy .options p {
  font-size: 14px;
  margin: 3px 0 0 10px;
  color: #707070;
}

footer .nav .policies p,
footer .policy .policies p {
  font-size: 14px;
  margin: 10px 0 10px 10px;
  color: #707070;
}

.content {
  padding: 0 15px;
}

.hero {
  margin-top: 60px;
}

.hero h1 {
  font-weight: 700;
}

.best-sales {
  margin-top: 60px;
}

.best-sales h2 {
  font-weight: 500;
}

.best-sales .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.best-sales .cards .card {
  width: 190px;
  height: 180px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 auto 15px;
}

.best-sales .cards .card img {
  border-radius: 8px;
}

.best-sales .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.best-sales .button h2 {
  margin-right: 10px;
}

.best-sales .button span {
  border: 2px solid white;
  border-radius: 100%;
}

.platform {
  margin-top: 60px;
}

.platform h2 {
  font-weight: 500;
}

.platform .pbox {
  width: 100%;
  height: 72px;
  background-color: gainsboro;
  margin-bottom: 12px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform .pc {
  background-color: black;
}

.platform .ps {
  background-color: #004098;
}

.platform .xb {
  background-color: #0f7a10;
}

.platform .nt {
  background-color: #e60012;
}

.filter {
  width: 100%;
  height: 60px;
  background-color: lightslategrey;
  text-align: center;
}

.allProductsContainer {
  margin: 0 auto;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .allProductsContainer {
    max-width: 100%;
  }
}

.allProductsContainer .productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.allProductsContainer .productContainer .product {
  width: 190px;
  height: 180px;
  border: 2px solid white;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.allProductsContainer .productContainer .product img {
  border-radius: 8px;
}

.allProductsContainer .productContainer .product .platformTag {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 25px;
  width: 25px;
  background-color: lightyellow;
  border-radius: 8px;
}

.allProductsContainer .productContainer .price {
  margin: 10px 0;
  padding: 15px 0;
  min-width: 180px;
}

.allProductsContainer .productContainer .price h3,
.allProductsContainer .productContainer .price h4 {
  margin: 2px;
}

.allProductsContainer .productContainer .price h4 {
  float: left;
}

.allProductsContainer .productContainer .price button {
  float: right;
  height: 60px;
  margin-top: -40px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  line-height: 13px;
}

.singleProductContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleProductContainer .thumbnail {
  width: 300px;
  height: 200px;
}

.singleProductContainer .thumbnail img {
  border: 2px solid white;
  border-radius: 8px;
}

.singleProductContainer .titlecard {
  width: 80%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.singleProductContainer .titlecard h2,
.singleProductContainer .titlecard h3 {
  margin: 0;
}

.singleProductContainer .titlecard h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.singleProductContainer .titlecard h3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.singleProductContainer .break {
  width: 80%;
  border-bottom: 2px solid white;
}

.singleProductContainer .description {
  width: 80%;
}

.singleProductContainer .primarySpecs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.singleProductContainer .primarySpecs .spec {
  height: 50px;
  width: 60px;
  background-color: white;
  border-radius: 8px;
  color: black;
  text-align: center;
  padding: 5px;
}

.singleProductContainer .video {
  width: 80%;
  height: 200px;
  text-align: center;
  margin: 20px auto;
  border: 2px solid white;
  border-radius: 8px;
}

.singleProductContainer .slideshow {
  width: 80%;
  height: 200px;
  text-align: center;
  margin: 20px auto;
  border: 2px solid white;
  border-radius: 8px;
}

.singleProductContainer .secondarySpecs table {
  border-spacing: 0;
  border-radius: 8px;
}

.singleProductContainer .secondarySpecs table td {
  border: 2px solid white;
  padding: 10px;
  border-radius: 0 8px 8px 0;
}

.singleProductContainer .secondarySpecs table th {
  border: 2px solid white;
  padding: 10px;
  border-radius: 8px 0 0 8px;
}

.singleProductContainer .productPricing {
  text-align: center;
  margin: 20px;
}

.singleProductContainer .productPricing h2,
.singleProductContainer .productPricing h5 {
  margin: 5;
}

.singleProductContainer .addToBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.singleProductContainer .addToBasket button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 50px;
  border: none;
}

.singleProductContainer .addToBasket button p,
.singleProductContainer .addToBasket button i {
  margin: 0 10px;
}

.addProductContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CreateNewUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */