@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
h1, h2, h3, p {
  font-family: 'Arimo', sans-serif;
}

body {
  background-color: #362C2C;
  color: white;
  margin: 0;
}

header {
  height: 65px;
  width: calc(100% - 30px);
  padding: 0 15px;
  padding-right: 15px !important;
  background-color: #362C2C;
  position: fixed;
  z-index: 999;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Arimo', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .menu {
  float: right;
  display: none;
}

header #check {
  display: none;
}

header ul {
  list-style: none;
  float: right;
}

header ul .mobile_link {
  display: none;
}

header ul .dropdown {
  position: relative;
  display: inline-block;
}

header ul .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1000;
  background-color: #2b2525;
  border-radius: 8px;
}

header ul .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header ul .dropdown:hover .dropdown-content {
  display: block;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 24px;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: yellow;
}

@media (max-width: 1100px) {
  header .menu {
    display: block;
  }
  header ul {
    position: fixed;
    width: calc(100% - 30px);
    height: 100vh;
    background: #2b2525;
    top: 48px;
    left: -110%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header ul .desktop_link, header ul .dropdown {
    display: none;
  }
  header ul .mobile_link {
    display: block;
  }
  header ul li {
    display: block;
    line-height: 100px;
    position: relative;
    top: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  header #check:checked ~ ul {
    left: 0;
  }
}

header .icon {
  font-size: 2.5em;
  cursor: pointer;
}

header .cart {
  margin-right: 15px;
}

footer {
  height: 97px;
  padding: 0 30px;
  margin-top: 45px;
  background-color: #1C1616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .nav, footer .policy {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav .line, footer .policy .line {
  height: 65px;
  width: 1px;
  background-color: #707070;
}

footer .nav .options p, footer .policy .options p {
  font-size: 14px;
  margin: 3px 0 0 10px;
  color: #707070;
}

footer .nav .policies p, footer .policy .policies p {
  font-size: 14px;
  margin: 10px 0 10px 10px;
  color: #707070;
}

.content {
  padding: 0 15px;
  margin-top: 100px;
}

.hero {
  margin-top: 60px;
}

.hero h1 {
  font-weight: 700;
}

.best-sales {
  margin-top: 60px;
}

.best-sales h2 {
  font-weight: 500;
}

.best-sales .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.best-sales .cards .card {
  width: 190px;
  height: 180px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 auto 15px;
}

.best-sales .cards .card img {
  border-radius: 8px;
}

.best-sales .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.best-sales .button h2 {
  margin-right: 10px;
}

.best-sales .button span {
  border: 2px solid white;
  border-radius: 100%;
}

.platform {
  margin-top: 60px;
}

.platform h2 {
  font-weight: 500;
}

.platform .pbox {
  width: 100%;
  height: 72px;
  background-color: gainsboro;
  margin-bottom: 12px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform .pc {
  background-color: black;
}

.platform .ps {
  background-color: #004098;
}

.platform .xb {
  background-color: #0F7A10;
}

.platform .nt {
  background-color: #E60012;
}
/*# sourceMappingURL=style.css.map */